<footer class="footer bg-primary">
  <div class="social-media">
    <a
      href="https://www.facebook.com/agop.artunian"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/icons8-facebook-24.png" alt="Facebook" />
    </a>
    <a
      href="https://github.com/Agop21"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/icons8-github-24.png" alt="GitHub" />
    </a>
    <a
      href="https://www.linkedin.com/in/agop-artyunyan-8811b3239/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/icons8-linkedin-24.png" alt="LinkedIn" />
    </a>
    <a
      href="mailto:agop_artunian@abv.bg"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/icons8-email-24.png" alt="Email" />
    </a>
  </div>
  <div class="copyright">
    &copy; 2024 Management System | All rights reserved | Designed & Developed
    by <i>Agop Artyunyan</i>
  </div>
</footer>
